<h1><%= park.escape('name') %></h1>

<form class='review-form'>
<table>
<tr>
<td><div class='rating-cat' id="overall_score"> Overall Score:</td>
  <td><div class="rating">
    <span class="empty-star">☆</span>
    <span class="empty-star">☆</span>
    <span class="empty-star">☆</span>
    <span class="empty-star">☆</span>
    <span class="empty-star">☆</span>
  </div></td>
</div>
</tr>

<tr>
<td><div class='rating-cat' id="safety_score"> Safety Score:</td>
  <td>
    <div class="rating">
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
    </div>
  </td>
</div>
</tr>

<tr>
<td><div class='rating-cat' id="seating_score"> Seating Score:</td>
  <td>
    <div class="rating">
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
    </div>
  </td>
</div>
</tr>

<tr>
<td><div class='rating-cat' id="run_score"> Run Score:</td>
  <td>
    <div class="rating">
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
    </div>
  </td>
</div>
</tr>

<tr>
<td><div class='rating-cat' id="kid_score"> Family Score:</td>
  <td>
    <div class="rating">
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
    </div>
  </td>
</div>
</tr>

<tr>
  <td><div class='rating-cat' id="view_score"> View Score:</td>
  <td>
    <div class="rating">
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
    </div>
  </td>
</div>
</tr>

<tr>
  <td><div class='rating-cat' id="drug_score"> Drug Score:</td>
  <td>
    <div class="rating">
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
      <span class="empty-star">☆</span>
    </div>
  </td>
</div>
</tr>

</table>

<br>
  <textarea type='text' name='review[comments]'>Add comments...</textarea>
<br>
<br>
  <button class='submit_button'>Submit Review</button>
</br>

</form>
