<div class="row review-search">
  <div class="col-md-7  col-md-offset-2">
    <h1>Review your city's parks!</h1>
    <h2>Help people understand what that green space is all about</h2>
    <form>
      <input type="text" class="search-field" name="park">
      <button name="button" class="review-search-btn">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </form>
  </div>
  <div class="col-md-3 park-img">
    <img src="http://wallpapervacations.com/wp-content/uploads/2013/06/the-park-cartoonkids-zone-wallpapers-vu7pvxt9.png" alt="Smiley face" height="200" width="200">
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-10  col-md-offset-2">
    <div class="parks">

    </div>
  </div>
</div>
