<h1>Add Photo</h1>

<input type="filepicker" class="btn btn-default filepickbutton" name="photo[filepicker_url]"
data-fp-mimetype="image/*">

<input type="text" name="photo[title]" id="photo_title" value="">
<input type="text" name="photo[description]" id="photo_description" value="">
