<h2>Add Photo to <%=park.escape('name')%> </h2>
<div class="errors"></div>

<!-- <form class="photo-form"> -->


<label>Title</label>
<input type="text" name="photo[title]" id="photo_title" value="">
<br><label>DescriptionTitle</label>
<input type="text" name="photo[description]" id="photo_description" value="">
<br>
<input class="btn btn-default file-pick-button" value="Pick File" name="photo[picture_url]"
data-fp-mimetype="image/*">
<br>
<input type="submit" id="add-photo" name="name" value="Add Photo">
<!-- </form> -->
