<section class="demo">
  <button class="next">Next</button>
  <button class="prev">Previous</button>
  <div class="slide-container">
    <div style="display: inline-block;">
      <img src="http://cityofypsilanti.com/Portals/0/images/Boardwalk14.jpg"/>
    </div>
    <div>
     <img src="http://www.co.carver.mn.us/departments/PW/parks/images/Camp_Ground.JPG"/>
    </div>
    <div>
      <img src="http://www.ncc-ccn.gc.ca/sites/default/files/imagecache/image-full/uploads/page/images/UrbanPark_Commissioners_21_Flower_Garden%20~.jpg"/>
    </div>
    <div>
      <img src="http://www.ci.new-prague.mn.us/vertical/Sites/%7BAD7ECB62-2C5E-4BA0-8F19-1426026AFA3E%7D/uploads/%7BD3043A3A-9B76-44CF-A04C-5D3434AA5B66%7D.JPG"/>
    </div>
    <div>
      <img src="http://www.ogdenny.com/portals/0/Images/Recreation/Pineway%20Ponds%20Park.JPG"/>
    </div>
    <div>
      <img src="http://upload.wikimedia.org/wikipedia/commons/3/35/HydePark1_gobeirne.jpg"/>
    </div>
    <div>
      <img src="http://upload.wikimedia.org/wikipedia/commons/3/3c/Denny_Blaine_Lake_Park_02.jpg"/>
    </div>
  </div>
</section>
