<section class="demo">
  <!-- <button class="next">Next</button>
  <button class="prev">Previous</button> -->
  <div class="gallery">
    <div class="elastislide-wrapper elastislide-horizontal">
      <div class="elastislide-carousel">
    <!-- Elastislide Carousel -->
        <ul id="carousel" class="elastislide-list">
          <li data-preview="https://www.filepicker.io/api/file/oQb5EUcyShkARVKIQ4wY"><a href="#"><img class="thumb" src="https://www.filepicker.io/api/file/oQb5EUcyShkARVKIQ4wY" alt="image04" /></a></li>
          <li data-preview="https://www.filepicker.io/api/file/vpiKMjLGR7eEhiwooJQY"><a href="#"><img class="thumb" src="https://www.filepicker.io/api/file/vpiKMjLGR7eEhiwooJQY" alt="image05" /></a></li>
          <li data-preview="https://www.filepicker.io/api/file/M7lijMSIalUfrbN3LjwQ"><a href="#"><img class="thumb" src="https://www.filepicker.io/api/file/M7lijMSIalUfrbN3LjwQ" alt="image06" /></a></li>
          <li data-preview="https://www.filepicker.io/api/file/oQb5EUcyShkARVKIQ4wY"><a href="#"><img class="thumb" src="https://www.filepicker.io/api/file/oQb5EUcyShkARVKIQ4wY" alt="image04" /></a></li>
          <li data-preview="https://www.filepicker.io/api/file/vpiKMjLGR7eEhiwooJQY"><a href="#"><img class="thumb" src="https://www.filepicker.io/api/file/vpiKMjLGR7eEhiwooJQY" alt="image05" /></a></li>
          <li data-preview="https://www.filepicker.io/api/file/M7lijMSIalUfrbN3LjwQ"><a href="#"><img class="thumb" src="https://www.filepicker.io/api/file/M7lijMSIalUfrbN3LjwQ" alt="image06" /></a></li>
        </ul>
    <!-- End Elastislide Carousel -->
  </div>
  <nav>
    <span class="elastislide-next">Next</span>
  </nav>
</div>
    <!-- <div class="image-preview">
      <img id="preview" src="images/large/4.jpg" />
    </div> -->


  </div>
    <!-- <li> <a href="#"><img class="carousel-active" src="https://www.filepicker.io/api/file/oQb5EUcyShkARVKIQ4wY"/> </a> </li> -->
    <!-- <li> <a href="#"><img class="carousel-active" src="https://www.filepicker.io/api/file/vpiKMjLGR7eEhiwooJQY"/> </a> </li> -->

</section>
