<div class="containment">
  <h2>Add a new park.</h2>
  <div class="errors"></div>

  <div class="row">
    <label class="park-label col-md-2">Name:</label>
    <input class="col-md-3" type="text" name="park[name]" id="parkName" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">Address:</label>
    <input class="col-md-3" type="text" name="park[address]" id="park_name" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">City:</label>
    <input class="col-md-3" type="text" name="park[city]" id="park_city" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">State:</label>
    <input class="col-md-3" type="text" name="park[state]" id="park_state" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">Zip:</label>
    <input class="col-md-3" type="text" name="park[zip]" id="park_zip" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">Weekday Hours:</label>
    <input class="col-md-3" type="text" name="park[weekday_hours]" id="park_weekday" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">Saturday Hours:</label>
    <input class="col-md-3" type="text" name="park[saturday_hours]" id="park_saturday" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">Sunday Hours:</label>
    <input class="col-md-3" type="text" name="park[sunday_hours]" id="park_sunday" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">Parking:</label>
    <input class="col-md-3" type="text" name="park[parking]" id="park_parking" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">Restrooms:</label>
    <input class="col-md-3" type="text" name="park[restrooms]" id="park_restrooms" value="">
  </div>

  <div class="row">
    <label class="park-label col-md-2">Telephone:</label>
    <input class="col-md-3" type="text" name="park[telephone]" id="park_telephone" value="">
  </div>

  <br>
    <button class='submit_button'>Submit Park</button>
  </br>
</div>
