<div class="container">
  <div class='row'>
    <% if (ParksNRecs.currentUserId) { %>
      <a href="#/parks/new">Add new park</a>
    <% } %>
  </div>
  <div class='col-md-4'>
    <h2 class='park-items-header'>Parks Near You</h2>
    <ul id='park-items'></ul>
  </div>
  <div class='col-md-4'>
    <h2 class='park-items-header'>Recent Reviews</h2>
    <ul id='recent-reviews'></ul>
  </div>
</div>
