<div class="container">

  <div class='col-md-4'>
    <h2 class='park-items-header'>Parks Near You</h2>
    <div id='park-items'></div>
  </div>
  <div class='col-md-4'>
    <h2 class='park-items-header'>Recent Reviews</h2>
    <div id='recent-reviews'></div>
  </div>
</div>
