<h1><%=park.escape('name')%></h1>

<div class="row">
<div class="map col-md-5"></div>

<div class="col-md-1">
  <p class="category">Address: </p>
</div>
<div class="col-md-6">
  <span><%=park.escape('address')%></span>
  <br>
  <span><%=park.escape('city')%>, <%=park.escape('zip')%></span>
</div>

<div class="col-md-1">
  <p class="category">Overall: </p>
  <p class="category">Safety: </p>
  <p class="category">Seating: </p>
  <p class="category">Running: </p>
  <p class="category">Family: </p>
  <p class="category">View: </p>
  <p class="category">Drugz: </p>
</div>

<%if(park.get('avg_scores') ) {%>
  <div class="col-md-6">
    <p class="overall_score"></p>
    <p class="safety_score"></p>
    <p class="seating_score"></p>
    <p class="run_score"></p>
    <p class="kid_score"></p>
    <p class="view_score"></p>
    <p class="drug_score"></p>
  </div>
<% } %>
