<div class=star-holder>
  <span class="empty-star">☆</span>
  <span class="empty-star">☆</span>
  <span class="empty-star">☆</span>
  <span class="empty-star">☆</span>
  <span class="empty-star">☆</span>
</div>
