//CREATE SESSION

body#login-background {
  background: url('https://s3-us-west-1.amazonaws.com/parksnrecs/login.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

//CREATE USERS

body#new-user-background {
  background: url('https://s3-us-west-1.amazonaws.com/parksnrecs/new-user.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

//SHARED

.login-head {
  padding-left: 15px;
  padding-top: 25px;
  font-weight: bold;
  font-color: white;
}

.login-field {
  padding-left: 15px;
}

.sub-button {
  border-radius: 5px;
  color: black;
}

.to-new-user {
  padding-left: 15px;
}
