#map-canvas-show {
  height:300px;
  margin: 0;
  padding: 0;
}

.park-map{
  // margin-left

}

.category {
  font-size: 14px;
  font-weight: bold;
}


button{
  
}

.write-review-button {
padding: 7px 16px 7px 12px;
margin-right: 12px;
border-radius: 4px;
font-weight: bold;
font-size: 14px;
color: white;
border-color: #a50508;
background: #ea050b;
background-image: -webkit-linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
background-image: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
box-shadow: 0 1px 1px rgba(0,0,0,0.3);
text-shadow: 0 -1px 0 #760400;
}
