ul {
  list-style: none;
}

.spacer {
  margin-top: 5px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
}

.park-items-header{
  margin-top: 0px;
}

#park-items {
  padding: 1px;
  height: 300px;
  overflow: hidden;
  overflow-y:scroll;
}

.ind-str {
  display: inline-block;
}
