ul {
  list-style: none;
}

.spacer {
  margin-top: 5px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
}

.index-header {
  color: #0C6637;
  display: inline-block;
}

.park-items-header{
  margin-top: 0px;
  color: #0C6637;
  font-size: 18px;
  width: 200px;
  display: inline-block;
}

#park-items {
  padding: 1px;
  height: 440px;
  width: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.ind-str {
  display: inline-block;
}

.create-park-button {
  display: inline-block;
  position: relative;
  bottom: 5px;
  left: 180px;
  padding: 7px 16px 7px 12px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border-color: #a50508;
  background: #ea050b;
  background-image: -webkit-linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
  background-image: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  text-shadow: 0 -1px 0 #760400;
}
