.rating-cat {
  font-weight: bold;
  display: block;
}

.rating {
  // unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > i:hover,
.rating > i:hover ~ i:before {
  // content: "\2605";
  // position: absolute;
  cursor: pointer;
  color: blue
}

.filled-star{
  color: blue
}


// .rating > i:hover{
//   cursor: pointer;
//   color: blue;
// }
