.rating-cat {
  font-weight: bold;
  display: block;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-block;
}
.empty-star {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  cursor:pointer
}

.full-star {
  content: "\2605";
}
