.slide-container {
  max-width: 400px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.slide-container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}

.slide-container img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}

// #carousel{
//   // padding:0px
//   text-align:center
// }
//
// .carousel-active{
//     width:90%;
//     height:90%;
//
// }

#carousel{
  display: block;
  max-height: 160px;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out
}

.thumb{
  // width: 24.8648648648649%;
  // margin: 0px;
  // max-width: 150px;
  // max-height: 160px;
  width: 150px;
  height: 150px
}
