<div class='containment'>
  <h1 class='index-header'>ParksNRecs</h1>

  <div class="container">
    <div id=map class="map col-md-6"></div>
    <div id=parks-index class="sidebar col-md-4"></div>
  </div>
</div>
