<h2>See the park you'd like to review?</h2>
<div class="row">
  <div class="col-md-7">
    <ul class="park-list">

    </ul>
  </div>

  <div class="col-md-3">
    <ul class="map-show">

    </ul>
  </div>

</div>
